<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	 <typeAliases>
        <typeAlias type="com.itwillbs.domain.CenterBoardDTO" alias="CenterBoardDTO"/>
        <typeAlias type="com.itwillbs.domain.StoreItemDTO" alias="StoreItemDTO"/>
        <typeAlias type="com.itwillbs.domain.ExqBoardDTO" alias="ExqBoardDTO"/>
        <typeAlias type="com.itwillbs.domain.PageDTO" alias="PageDTO"/>
        <typeAlias type="com.itwillbs.domain.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.itwillbs.domain.LocationDTO" alias="LocationDTO"/>
        <typeAlias type="com.itwillbs.domain.QnaBoardDTO" alias="QnaBoardDTO"/>
        <typeAlias type="com.itwillbs.domain.CinemaDTO" alias="CinemaDTO"/>
        <typeAlias type="com.itwillbs.domain.ScheduleDTO" alias="ScheduleDTO"/>
        <typeAlias type="com.itwillbs.domain.ReservationDTO" alias="ReservationDTO"/>
        <typeAlias type="com.itwillbs.domain.LostBoardDTO" alias="LostBoardDTO"/>
        <typeAlias type="com.itwillbs.domain.ResponseDataDTO" alias="ResponseDataDTO"/>
    </typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://itwillbs.com:3306/c2d2309t2?useSSL=false&amp;serverTimezone=Asia/Seoul&amp;allowPublicKeyRetrieval=true"/>
				<property name="username" value="c2d2309t2"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/itwillbs/sql/storeItemSql.xml"/>
		<mapper resource="com/itwillbs/sql/csSql.xml"/>
		<mapper resource="com/itwillbs/sql/memberSql.xml"/>
		<mapper resource="com/itwillbs/sql/cinemaSql.xml"/>
		<mapper resource="com/itwillbs/sql/locationSql.xml"/>
		<mapper resource="com/itwillbs/sql/scheduleSql.xml"/>
		<mapper resource="com/itwillbs/sql/reservationSql.xml"/>
	</mappers>

    
    
</configuration>