.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}

.page-util .location {
    float: left;
    height: 42px;
}

#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

h2.tit {
	font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}

.theater-box {
    position: relative;
    display: block;
    width: 100%;
    min-height: 190px;
    border: 3px solid #686571;
    border-radius: 10px;
}

.theater-box .theater-place>ul>li.on>button {
    color: #fff;
}

.theater-box .theater-place>ul>li>button {
    display: block;
    width: 100%;
    height: 48px;
    background: 0 0;
    border: none;
}

.theater-box .theater-place>ul>li.on .theater-list {
    display: block;
}

.theater-box .theater-list {
    display: none;
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    min-height: 85px;
    padding: 30px 0;
}

.theater-box .theater-list ul li {
    position: relative;
    float: left;
    width: 25%;
    line-height: 26px;
    text-align: left;
    padding-left: 40px;
}

.theater-box .theater-place {
    width: 100%;
    height: 48px;
}

.theater-box .theater-list ul li a {
    color: #444;
}

#cinema_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    color: #444;
    text-decoration: none;
}

.ico-favo-theater {
    width: 10px;
    height: 12px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-favo-theater.png);
}

.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.theater-box .user-theater {
    position: absolute;
    padding: 0 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 54px;
    border-radius: 0 0 10px 10px;
    background-color: #ecf0f4;
}

.button.small {
    height: 32px;
    padding: 0 12px;
    line-height: 30px;
    font-size: .9333em;
}

.cienema_button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: EB+Garamond;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

.theater-box .theater-place>ul>li.on {
    background: #555;
    border: 1px solid #555;
}

.theater-box .theater-place>ul>li:first-child {
    width: 142px;
}

.theater-box .theater-place>ul>li {
    float: left;
    width: 136px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    border-width: 0 1px 1px 0;
    text-align: center;
    box-sizing: border-box;
}

.theater-box .theater-list {
    display: none;
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    min-height: 85px;
    padding: 30px 0;
}


.theater-box .theater-list ul li:nth-child(4):after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1px;
    background: #e0e0e0;
}

li{
	list-style-type: none;
}

.place{
	margin-top: 180px;
}

.movie_res{
	margin-top: 360px;
}

body{
	  overflow: auto;
	  overflow-y : scroll; 
}




/* 추가 하는 중 */

.contents_theater_detail .theater_top_wrap {
    position: relative;
    margin: 18px 0 0 22px;
}

.contents_theater_detail .theater_top_wrap .info_wrap .pop_wrap>li a span {
    font-size: 15px;
    vertical-align: middle;
}

body, input, button, select, textarea {
    font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
    font-size: 12px;
    color: #000;
}

.contents_theater_detail .theater_top_wrap .info_wrap .theater_info {
    margin-bottom: 15px;
}
