@charset "utf-8";


.list-group-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
}
.list-group-item.done {
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    color: white;
}

.hErrorP {
	overflow: hidden;
}
.hErrorPS {
	overflow: auto;
}
.hErrorC {
	height: 100%;
}

.count-wrap {
	position: relative;
	padding: 0 30px;
	border: 1px solid #ddd;
	overflow: hidden;
	width: 90px;
	height: 30px;
}
.count-wrap > button {
	border: 0;
	background: #ddd;
	color: #000;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	font-size: 15px;
	
	
}
.count-wrap > button.minus {
	left: 0;
}
.count-wrap > button.plus {
	right: 0;
}
.count-wrap .inpp {
	padding-top: 2px;
	border: 0;
	height: 30px;
	text-align: center;
	display: block;
	width: 100%;
	color: #000;
	font-size: 15px;
}

.ppa{
	position: relative;
}

.mca {
	display: flex;
    justify-content: center;
    align-items: center;
}
.vca {
	display: flex;
    justify-content: end;
    align-items: center;
}

.hca {
	display: flex;
    justify-content: center;
}

.payType {
	width: 150px;
	height: 70px;
}

.mba  {
	position: absolute;
	bottom: 0%;
}

#lastPay {
	color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}

.modalBtn {
	position: relative;
	display: inline-block;
}
.arrow_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}
span:hover + p.arrow_box {
  display: block;
}











