@charset "utf-8";


.list-group-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
}

.hErrorP {
	overflow: hidden;
}
.hErrorPS {
	overflow: auto;
}
.hErrorC {
	height: 100%;
}